@import './colors';
@import './transitions';

// Made with 11pt font size in mind
// 1rem = 11pt = 14.6666666667px
$bar_ws_width: 1.774rem;
$bar_ws_width_focus: 0.614rem;
$bar_ws_width_focus_active: 2.045rem;

.bar-bg {
    background-color: $background;
    min-height: 2.5rem;
    border-top-left-radius: $rounding_small;
    border-top-right-radius: $rounding_small;
}

.bar-visualheight {
    min-height: 2.5rem;
}

.bar-fg {
    color: $onBackground;
}

.bar-time {
    @include transitionDecel;
    font-size: 1.2rem;
    margin: .5rem 1rem;
}

.bar-time-hover {
    font-size: .9rem;
    margin: 0rem 1rem;
}

.bar-date {
    margin: .5rem 1rem;
}

.bar-date-hover {
    margin: 0rem 1rem;
    margin-top: -.3rem;
}

.bar-ws-container {
    @include workspaceTransition;
}

.bar-ws {
    font-size: 1.02rem;
    font-weight: 600;
    min-width: $bar_ws_width;
    color: $onBackground;
}

.bar-ws-active {
    background-color: $onBackground;
    color: $background;
}

.bar-ws-occupied {
    color: $onBackground;
}

.bar-circprog {
    @include transitionDecel;
    min-width: 0.136rem; // line width
    min-height: 1.636rem;
    padding: 0rem;
    background-color: $hover;
    color: $onBackground;
}

.bar-batt {
    @include transitionDecel;
    min-height: 1.77rem;
    min-width: 1.77rem;
    margin: 0rem 1rem;
    font-size: 1.0909rem;
    color: $onBackground;
}
