// Hyprland stuff
$hyprland_gaps_out: 5px;
$hyprland_rounding: 16px;

// Fonts
@mixin icon-material {
    // Material Design Icons
    font-family: "Material Symbols Rounded", "MaterialSymbolsRounded", "Material Symbols Outlined",
        "Material Symbols Sharp";
}

.icon-material {
    @include icon-material;
}

// Spacing
@each $spacing in (5, 10, 15, 20) {
    .spacing-v-#{$spacing}>*:not(:last-child) {
        margin-bottom: calc(0.341rem/5*$spacing);
    }
    .spacing-h-#{$spacing}>*:not(:last-child) {
        margin-right: calc(0.341rem/5*$spacing);
    }
}

@each $spacing in (5, 8, 10, 15, 20) {
    @each $dir in ("top", "bottom", "left", "right") {
        .margin-#{$dir}-#{$spacing} {
            margin-#{$dir}: 0.068rem * $spacing;
        }

        .padding-#{$dir}-#{$spacing} {
            padding-#{$dir}: 0.068rem * $spacing;
        }
    }

    .padding-#{$spacing} {
        padding: 0.068rem * $spacing;
    }

    .margin-#{$spacing} {
        padding: 0.068rem * $spacing;
    }
}

// Rounding
$rounding_verysmall: 0.477rem;
$rounding_small: 0.818rem;
$rounding_mediumsmall: 0.955rem;
$rounding_medium: 1.159rem;
$rounding_mediumlarge: 1.364rem;
$rounding_large: 1.705rem;

// Common rules
@mixin rounding-small {
    border-radius: $rounding_small;
    -gtk-outline-radius: $rounding_small;
}

@mixin rounding-normal {
    border-radius: $rounding_medium;
    -gtk-outline-radius: $rounding_medium;
}

@mixin rounding-large {
    border-radius: $rounding_large;
    -gtk-outline-radius: $rounding_large;
}

@mixin rounding-full {
    border-radius: 9999px;
    -gtk-outline-radius: 9999px;
}

// Shadows
@mixin popup-shadow {
    box-shadow: 0px 2px 3px transparentize(#000000, 0.55);
}