@import './colors';
@import './transitions';

.overview-bg {
    @include popup-shadow;
    background-color: $background;
    border-radius: $rounding_medium;
}

.overview-workspace {
    border-radius: $rounding_small;
    background-color: $hover;
}

